body {
    margin: 0;
    -webkit-user-select: none;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.38, rgb(57,148,0)),
        color-stop(0.69, rgb(90,192,27)),
        color-stop(0.85, rgb(117,231,54))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(57,148,0) 38%,
        rgb(90,192,27) 69%,
        rgb(117,231,54) 85%
    );
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

#card-container
{
    position: absolute;
    left: 250px;
    top: 150px;
}

.card {
    font-size: 1.4em;
    position: absolute;
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 1.5em;
    vertical-align: middle;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    border: 1px rgb(135,43,38) solid;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.06, rgb(130,38,33)),
        color-stop(0.42, rgb(156,65,60)),
        color-stop(0.83, rgb(188,91,90)),
        color-stop(0.94, rgb(226,119,117))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(130,38,33) 6%,
        rgb(156,65,60) 42%,
        rgb(188,91,90) 83%,
        rgb(226,119,117) 94%
    );
}

.card.active.moving {
    border: 1px gray dotted;
    display: none;
}

.card.active.red {
    color: #cc0033;
}

.card span {
    display: none;
}

.card.active {
    border: 1px #FFF solid;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.32, rgb(227,236,239)),
        color-stop(0.66, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(227,236,239) 32%,
        rgb(255,255,255) 66%
    );
}

.card.active span {
    display: block;
    position: absolute;
    top: 0;
    left: 0.3em;
}


.card.empty-node {
    background: none;
    border: 1px dashed #d3d3d3;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#target-container {
    position: absolute;
    left: 250px;
    top: 10px;
}

#target-container .target {
    position: absolute;
    height: 100px;
    width: 65px;
    font-size: 1.7em;
    position: absolute;
    text-align: center;
    padding-top: 1.4em;
    vertical-align: middle;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px gray dashed;
}

#pile-container {
    position: absolute;
    height: 100px;
    top: 10px;
    left: 25px;
}

#pile-source {
   width: 65px;
    height: 65px;
}

#pile-show {
    position: absolute;
    left: 80px;
    top: 0;
    margin-right: 1em;
    width: 65px;
    height: 65px;
}